/* Header */

.topnav {
    border-radius: 100px;
    width: 100%;
    overflow: hidden;
    background-color: #561888;
}

.topnav a:first-of-type {
    margin-left: 10%;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    margin-left: 2%;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

.topnav .search-container {
    margin-right: 10%;
    float: right;
}

.topnav input[type=text] {
    border-radius: 100px;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    border-radius: 100px;
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 4px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #2196F3;
}